
.logosize{
    margin-left: 10px;
    height: 65px;
}

.profile{
    height: 130px;
}

.staffprofile{
  height: 90px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;  /*or use calc(100vh - header_height)*/
  }

/* .staffSel:hover{
  color: blue;
} */

.material-icons{
  display: inline-flex;
  vertical-align: top;
}

.title{
  font-family: 'Ubuntu', sans-serif;
}


footer{
  position: absolute;
  /* bottom:0px;
  left:0;
  right:0;   */
  background-color: blue ;
  /* height: px; */
  width:100vw;
  font-family:'Ubuntu', sans-serif;
  display:flex;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
}

 /* .footer-content{
 
  padding: 10px 0;
   background-color: ; 

}  */

 .footer-content p{
  font-size: 14px;
  /* text-transform: capitalize; */
  word-spacing: 2px;
  color:white;

}



.input-field textarea:focus + label {
  color: #2196f3 !important;
}

.row .input-field textarea:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

