
.logosize{
    margin-left: 10px;
    height: 65px;
}

.profile{
    height: 130px;
}

.staffprofile{
  height: 90px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;  /*or use calc(100vh - header_height)*/
  }

/* .staffSel:hover{
  color: blue;
} */

.material-icons{
  display: inline-flex;
  vertical-align: top;
}

.title{
  font-family: 'Ubuntu', sans-serif;
}

footer{
  position: absolute;
  /* bottom:0px;
  left:0;
  right:0;   */
  background-color: blue ;
  /* height: px; */
  width:100vw;
  font-family:'Ubuntu', sans-serif;
  display:flex;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
}

 /* .footer-content{
 
  padding: 10px 0;
   background-color: ; 

}  */

 .footer-content p{
  font-size: 14px;
  /* text-transform: capitalize; */
  word-spacing: 2px;
  color:white;

}



