
.logosize{
    margin-left: 10px;
    height: 65px;
}

.profile{
    height: 130px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;  /*or use calc(100vh - header_height)*/
  }

.staffSel:hover{
  color: yellow;
}

.title{
  font-family: 'Ubuntu', sans-serif;
}