{% extends "layout.html" %}
{% block title %}Mendozes Recommendation{% endblock %}
{% block page %}Mendozes Recommendation System{% endblock %}

{{ super() }}

{% block content %}
<style>
    .row{
        background-color: #bbdefb;
    }
</style>

<div class="row">
    <div class="col center-align">
        <div class="row s7">
            <img src="{{url_for('static', filename = 'images/colourlogo_transparentBG1.png')}}" alt="logo" class="brand-logo hide-on-med-and-down" style="height: 400px">
        </div>
        <div class="row s3 left-align">
            <p>I'M A ... </p>
        </div>
        <div class="row s2" style="margin-top: 0px">
            <div class="col s6">
                <a href="/chooseAccount/student"> Student Button <img src="Student_Icon.png" alt="Student icon button" width="200" height ="200"></a>
            </div>
            <div class="col s6">
                <a href="/chooseAccount/staff"> Staff Button <img src="Staff_Icon.png" alt="Staff icon button" width="200" height ="200"></a>
            </div>
        </div>    
    </div>
</div>

    

{% endblock %}