{% extends "layout.html" %}
{% block title %}Mendozes Recommendation{% endblock %}
{% block page %}Mendozes Recommendation System{% endblock %}

{{ super() }}

{% block content %}
    <div style="margin-left: 20px;">
     
        <div class="col center-align">
            <div class="row s7">
                <img src="{{url_for('static', filename = 'images/colourlogo_transparentBG1.png')}}" alt="logo" class="brand-logo hide-on-med-and-down" style="height: 300px">
            </div>
            <div class="row s1 left-align" style="margin: 0px">
                <p>I'M A ... </p>
            </div>
            <div class="row s2" style="margin-top: 0px">
                <div class="col s6">
                    <a href="/chooseAccount/student"> Student Button </a>
                </div>
                <div class="col s6">
                    <a href="/chooseAccount/staff"> Staff Button </a>
                </div>
            </div>
        </div>
        

    </div>
    

{% endblock %}