{% extends "layout.html" %}
{% block title %}Mendozes Recommendation{% endblock %}
{% block page %}MENDOZES{% endblock %}

{{ super() }}

{% block content %}
<div class="row flex">

    <!-- LEFT COLUMN -->
    <div class="col s12 m4 l6 #bbdefb blue lighten-4" >
        <!-- PROFILE SECTION -->
        <div class="card-panel #0d47a1 blue darken-4 white-text" style="margin-top: 35px; margin-left: 15px;  margin-right: 15px; box-shadow: none;">
            <div class="row">
                <div class="col s2">
                    <img src="{{url_for('static', filename = 'images/Staff_Icon.png')}}" alt="mock profile pic" class="staffprofile" >
                </div>
                <div class="col s7">
                    <h5 class="">Hey <b>{{staff.name}}</b>,</h5> <!--JINJA HERE-->
                    <h5 class="">Get started on these requests!</h5>
                </div>
                <!-- NOTIFACTION BUTTON -->
                <div class="col s3 right-align">
                    <!-- Trigger/Open The Modal -->
                    <button id="myBtn" class="waves-effect waves-light btn-large #00b0ff light-blue accent-3"><i class="material-icons white-text">notifications_active</i></button>
                    <!-- Notification Modal -->
                    <div id="myModal" class="modal">
                        <!-- Modal Content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <br>
                            <br>
                            {% if notifications != 0 %} 
                                <!-- TO DO: FOR LOOP-->
                                {% for notification in notifications %}
                                <div class="card-panel #00b0ff light-blue left-align white-text">
                                    <h6><i class="material-icons">account_box</i><b> Student Name</b></h6> <!-- JINJA HERE-->
                                    <h8><b>Request: </b></h8><h8>{{notification.body}}</h8><!-- JINJA HERE-->
                                    <br><br>
                                    <div class="row">
                                        <div class="col s6">
                                        </div>
                                        <div class="col s3 right-align">
                                            <button method="GET" action="/staffMain/{{notification.id}}/reject" class="waves-effect waves-light btn #f44336 red" type="submit" > Reject </button>    
                                        </div>
                                        <div class="col s3">
                                            <button method="GET" action="/staffMain/{{notification.id}}/accept" class="waves-effect waves-light btn #4caf50 green" type="submit" > Accept </button>    
                                        </div>
                                    </div>
                                </div>  
                                {% endfor %}
                                <!-- FOR LOOP ENDS HERE -->
                            {% else %}
                            <h5 class="black-text center-align"> You have no notifications. </h5>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <br>
                    <a href="/logout" class="red-text">LOG OUT</a> 
                </div>
            </div>
        <!-- ACCEPTED REQUESTS -->
        <div class="card-panel" style="margin: 25px; padding: 0;">
            <span class="col s12 #00b0ff light-blue accent-3 white-text z-depth-1" style="margin-bottom: 15px; height: 50px;">
                <h5>Accepted Requests</h5>
            </span>
            <form method="POST" action="/staffMain/selectReq">
                <!-- TABLE FOR REQUESTS -->
                {% if acceptedrs != None %}
                <table class="black-text">
                    <thead>
                    <tr>
                        <th>Student</th>
                        <th>Faculty</th>
                        <th>Request</th>
                    </tr>
                    </thead>
            
                    <tbody>
                    {% for acceptedr in acceptedrs %}
                    <tr>
                        <td>{{acceptedr.studentId.name}}</td><!--JINJA HERE-->
                        <td>{{acceptedr.studentId.faculty}} </td><!--JINJA HERE-->
                        <td><a href="" class="" type="submit" name="reqID" value ="{{acceptedr.id}}">{{acceptedr.body}}</a></td><!--JINJA HERE-->
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>   
                {% else %}
                <table class="black-text">
                    <thead>
                    <tr>
                        <th>Student</th>
                        <th>Faculty</th>
                        <th>Request</th>
                    </tr>
                    </thead>
            
                    <tbody>
                    <tr>
                        <td>None </td>
                        <td>None </td>
                        <td>None </td>
                    </tr>
                    </tbody>
                </table>   
                {% endif %} 
            </form>
        </div>
        <!-- HISTORY SECTION -->
        <div class="card-panel" style="margin: 25px; box-shadow: none; padding: 0;">
            <span class="col s12 #00b0ff light-blue accent-3 white-text z-depth-1" style="margin-bottom: 15px; height: 50px;">
                <h5>History</h5>
            </span>
             <!-- TABLE FOR REQUESTS -->
            {% if historyrs != None %}
             <table class="black-text">
                <thead>
                  <tr>
                      <th>Status</th>
                      <th>Request</th>
                      <th>Student</th>
                  </tr>
                </thead>
        
                <tbody>
                {% for historyr in historyrs %}
                  <tr>
                    <td>{{historyr.Status}} </td><!--JINJA HERE-->
                    <td>{{historyr.body}}</td><!--JINJA HERE-->
                    <td>{{historyr.studentId.Name}}</td><!--JINJA HERE-->
                  </tr>
                {% endfor %}
                </tbody>
              </table>    
            {% else %}
            <table class="black-text">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Request</th>
                    <th>Student</th>
                </tr>
                </thead>
        
                <tbody>
                <tr>
                    <td>None </td>
                    <td>None </td>
                    <td>None </td>
                </tr>
                </tbody>
            </table>   
            {% endif %} 
        </div>
        </div>
    </div>
    <!-- RIGHT COLUMN -->
    <div class="col s12 m4 l6 #bbdefb blue lighten-4">
        <!-- WRITE RECOMMENDATION SECTION -->
        {% if selectedRec != 0 %} <!--ENABLE FORM-->
        <form class="card-panel col s12 recform" style="margin-top: 35px; margin-left: 0px; padding: 0;  height: 587px;" method="" action="/staffMain/writeRecommendation">
            <span class="col s12 #00b0ff light-blue accent-3 white-text z-depth-1" style="margin-bottom: 15px; height: 50px;">
                <h5>Write Recommendation</h5>
            </span>
            <textarea id="body" name="body" class="materialize-textarea" aria-required></textarea>
            <input type = "hidden" name = "recId" value = "{{selectedRec.id}}">
            <button class="btn waves-effect waves-light #00b0ff light-blue accent-3" style="margin-left: 510px;" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
        {% else %} <!--DISABLE FORM-->
        <form class="card-panel col s12 recform" style="margin-top: 35px; margin-left: 0px; padding: 0;  height: 587px;">
            <span class="col s12 #00b0ff light-blue accent-3 white-text z-depth-1" style="margin-bottom: 15px; height: 50px;">
                <h5>Write Recommendation</h5>
            </span>
            <h6 class="grey-text" style="margin-left: 15px;">Please select a REQUEST to get started writing!</h6>
            <button class="btn waves-effect waves-light #00b0ff light-blue accent-3" style="margin-left: 510px;" type="submit" name="action" disabled>Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
        {% endif %}
    </div> 
    
</div>

    
{% endblock %}